body{
	background: url(../img/IMG-20190515-WA0023.jpg);
	margin: 0;
	font-family: monospace;
}
h1{
	font-family:Arial Black;
	background:#1C1C1C;
	color: white;
    background: rgba(0,0,0,0.4)
}
h2{
	font-family:Arial;
	color:white;
	float: left;
	background: rgba(0,0,0,0.4)

}
